.full-width {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
